<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PTC Proxy Check</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
</head>
<body>
<center><h3>Proxy overview for {{ proxy }}</h3>
    <hr />
    Niantic: <b>{{ nstatus }}</b>
<br />
    PTC: <b>{{ pstatus }}</b>
    <br>
    <br>
    Niantic version: {{ nver }} (RocketMap current version: 0.67.1)
    <br />
    <p>This API was created by @ibuckshot5#4625 (Check me out on <a href="//discordapp.com">Discord!</a>)</p>
</center>
</body>
</html>